<!doctype html>
<html lang="en">
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	  <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	  <link rel="stylesheet" href="../stylesheets/main.css">
	  <% include ./partials/header %>

<% console.log(obj); %>	  
<!-- Modal -->
<% if(currentUser){ %>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Rating Selection</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			<form action="/main" method="POST">
			  <div class="modal-body">
				  Minimum IMDB Rating:
					<select name='rating'>
						<% for(var i = 0; i <= 10; i += 0.5){ %>
							<option value='<%= i %>'><%= i %></option>
						<% } %>
					</select>

				<div class="form-group form-check my-4">
					<input type="checkbox" class="form-check-input" id="exampleCheck1" name="getEmails" value="true">
					<label class="form-check-label" for="exampleCheck1">I would also like to receive emails when a movie above this rating is released in theatres.</label>
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-warning">Save Changes</button>
			  </div>
			</form>
			</div>
		  </div>
		</div>
<% } else { %>
	  <div class="container d-none" id="notLoggedIn">
		  <div class="alert alert-danger" role="alert">
			 You need to be logged in to use this button! <a href="/login">Login</a> or <a href="/register">Sign Up</a> ?
		  </div>
	  </div>
	  <% } %>  
 

<div class='container'>
	<% if(currentUser) { %>
	<div class='row'>
		<div class='col-lg-5 text-white mt-5 filter'>
			<h4>Filtering by movies above a <%= currentUser.rating %> rating</h4>
		</div>
		<div class='col-lg-2'>
			<button id="imdbModel" type="submit" class="btn btn-warning btn-block mt-3" data-toggle="modal" data-target="#exampleModal"><i class="fab fa-imdb fa-5x"></i></button>
		</div>
		<% } else { %>
		<div class='row justify-content-center'>
			<div class='col-lg-2'>
					<button id="imdbModel" type="submit" class="btn btn-warning btn-block mt-3" data-toggle="modal" data-target="#exampleModal"><i class="fab fa-imdb fa-5x"></i></button>
			</div>
		</div>
		<% } %>
	</div>
</div>
	

<div class="container-fluid">
  <div class="row">
	 <% var i = -1; %>
	<% data['results'].forEach(function(movies){ %>
	  <% i++; %>
	<!-- < for(var i = 0; i < obj["ratings"].length; i++){ %> -->
	  <% if(!currentUser || (obj.ratings[i] >= currentUser.rating)) { %>
		  <div class="col-lg-2">
			<center>
				<div class="content">
					<div class="content-overlay"></div>
					<img src="http://image.tmdb.org/t/p/w500/<%= movies['poster_path'] %>" class="img-responsive rounded mt-5 content-image">
					<div class="content-details mt-5">
						<i class="fa fa-star text-warning" style="font-size: 30px;"></i>
						<p id='rating' class="content-title rating-text mt-2 mb-4"><%= obj.ratings[i] %></p>
						<form action="/more" method="POST">
							<input type="hidden" name="movie[title]" value="<%= movies['title'] %>">
							<input type="hidden" name="movie[description]" value="<%= movies['overview'] %>">
							<input type="hidden" name="movie[image]" value="<%= movies['backdrop_path'] %>">
							<input type="hidden" name="movie[release]" value="<%= movies['release_date'] %>">
							<input type="hidden" name="movie[vote_average]" value="<%= obj.ratings[i] %>">
							<button type="submit" class="btn btn-outline-danger btn-sm mb-5">Read More</button> 
						</form>
					</div>
				</div>
				<p class='mt-3' id='title'><%= movies['title'] %></p>
			</center>
		  </div>
	  <% } %>
	<!-- < } %> -->
	<% }); %>
	<% data2['results'].forEach(function(movies){ %>
	  <% if(!currentUser || (movies.vote_average >= currentUser.rating)) { %>
	  <div class="col-lg-2">
		<center>
			<div class="content">
				<div class="content-overlay"></div>
				<img src="http://image.tmdb.org/t/p/w500/<%= movies['poster_path'] %>" class="img-responsive rounded mt-5 content-image">
				<div class="content-details mt-5">
					<i class="fa fa-star text-warning" style="font-size: 30px;"></i>
					<p id='rating' class="content-title rating-text mt-2 mb-4"><%= movies.vote_average %></p>
					<form action="/more" method="POST">
						<input type="hidden" name="movie[title]" value="<%= movies['title'] %>">
						<input type="hidden" name="movie[description]" value="<%= movies['overview'] %>">
						<input type="hidden" name="movie[image]" value="<%= movies['backdrop_path'] %>">
						<input type="hidden" name="movie[release]" value="<%= movies['release_date'] %>">
						<input type="hidden" name="movie[vote_average]" value="<%= movies['vote_average'] %>">
						<button type="submit" class="btn btn-outline-danger btn-sm mb-5">Read More</button> 
					</form>
				</div>
			</div>
			<p class='mt-3' id='title'><%= movies['title'] %></p>
		</center>
	  </div>
	  <% } %>
	<% }); %>
  </div>
</div>


<% include ./partials/footer %>